body{
    background-color: peru;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

.title{
    text-align: center;
    color:white;
}

.imgs{
width: 250px ;
}

.card-title{
    color:  rgb(0, 0, 0);
}

.inner-item{
    color: rgb(5, 5, 5);
}

.list {
    background-color:papayawhip;
}

.img1{
    width: 250px;
}

.img2{
    width: 250px;
}